*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh; 
    
    flex-direction: column;
    
    padding: 20px; 
}

.entradaTexto{
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #2ecc71;
    background-color: #34495e;
    color: white;
    outline: none;
    transition: 0.3s;
}

.entradaTexto:focus{
    border-color: green;
    transform: scale(1.1);
}

h1{
    color: #ecf0f1;
    margin-bottom: 20px;
}

label{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ecf0f1;
}

#logoEmpresa{
    width: 150px;
    margin:0 auto 20px;
}

h2{
    color: rgb(99, 110, 114);
}

#formularioInicio{
    background-color: #2c3e50;
    width: 350px;
    padding: 30px;

    border-radius: 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.nombres{
    color: rgb(99, 110, 114);
}

#btnIngresar{
    padding:14px;
    border: none;
    background: #2ecc71;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

#btnIngresar:hover{
    background: #27ae60;
}

#mensaje {
    text-align: center;
    /*color: #e74c3c; */
    margin-top: 10px;
    font-weight: bold;
    width: 100%; 
}


#formularioRegistro {
    background-color: #2c3e50; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    width: 700px;
    display: flex;
    flex-direction: column;
}

#formularioRegistro #btnIngresar {
    margin-top: 20px;
}

#contenedorInputs {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

a{
    color: #ecf0f1;
}

#contenedorInputsRegistro {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 40px;
    text-align: left; 
}

#contenedorInputsRegistro label,
#contenedorInputsRegistro .entradaTexto {
    display: block;
    width: 100%;
}

#contenedorInputsRegistro label {
    margin-top: 15px;    
    margin-bottom: 5px;  
    font-weight: bold;
}

#contenedorInputsRegistro .entradaTexto {
    margin-bottom: 35px; 
}

#btnCerrarSesion{
    padding:5px;
    border: none;
    background: #2ecc71;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

#btnIngresar:disabled {
    background: #7f8c8d;
    cursor: not-allowed;
}