*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: #1e272e;
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 100vh; 
    
    flex-direction: column;
    
    padding: 20px; 
}

.entradaTexto{
    padding: 14px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #2ecc71;
    background-color: #34495e;
    color: white;
    outline: none;
    transition: 0.3s;
}

.entradaTexto:focus{
    border-color: green;
    transform: scale(1.1);
}

h1{
    color: #ecf0f1;
    margin-bottom: 20px;
}

label{
    margin-bottom: 10px;
    margin-top: 10px;
    color: #ecf0f1;
}

#logoEmpresa{
    width: 250px;
    margin:0 auto 20px;
}

h2{
    color: rgb(99, 110, 114);
}

#formularioInicio{
    background-color: #2c3e50;
    width: 350px;
    padding: 10px 30px 30px 30px;
    border-radius: 30px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.nombres{
    color: rgb(99, 110, 114);
    font-size: large;
}

#btnIngresar{
    padding:14px;
    border: none;
    background: #2ecc71;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

#btnIngresar:hover{
    background: #27ae60;
}

#btnRegistrar{
    padding:14px;
    border: none;
    background: #2ecc71;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

#btnRegistrar:hover{
    background: #27ae60;
}

#formularioInicio #mensaje {
    display: flex;
    justify-content: center;
    text-align: center;
    /*color: #e74c3c; */
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

#formularioRegistro {
    background-color: #2c3e50; 
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); 
    width: 700px;
    display: flex;
    flex-direction: column;
}

#formularioRegistro #btnIngresar {
    margin-top: 20px;
}

#contenedorInputs {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

a{
    align-self: center;
    color: #ecf0f1;
    margin-top: 15px;
}

#contenedorInputsRegistro {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 40px;
    text-align: left; 
}

#contenedorInputsRegistro label,
#contenedorInputsRegistro .entradaTexto {
    display: block;
    width: 100%;
}

#contenedorInputsRegistro label {
    margin-top: 15px;    
    margin-bottom: 5px;  
    font-weight: bold;
}

#contenedorInputsRegistro .entradaTexto {
    margin-bottom: 35px; 
}

#btnCerrarSesion{
    padding:5px;
    border: none;
    background: #2ecc71;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

#btnIngresar:disabled {
    background: #7f8c8d;
    cursor: not-allowed;
}


#pantallaBienvenida{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

#menuLateral{
    position: fixed;    
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;       
    background-color: #2c3e50;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 97;
    
    transform: translateX(-100%); 
    transition: transform 0.2s ease;

}

#pantallaBienvenida.mostrar #menuLateral{
    transform: translateX(0);
}

#enlacesMenu{
    padding: 30px 5px;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#enlacesMenu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 7px;
}

#enlacesMenu ul li.espaciado{
    margin-top: 90px;
}

#enlacesMenu a {
    text-decoration: none;
    color: #b2bec3;
    font-weight: bold;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

#enlacesMenu a:hover {
    background-color: #34495e;
    color: #ffffff;
}

#enlacesMenu ul li a.active {
    background-color: #3498db; /* Un azul sólido y brillante */
    color: #ffffff;
    border-left: 4px solid #ffffff; /* La señal visual de que estás aquí */
}

#encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #2c3e50; 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 99;
    border-bottom: 1px solid #34495e;
}

.seccionPerfil {
    display: flex;
    align-items: center;
    gap: 12px; 
    margin-left: auto;
}

#nombrePerfil {
    color: #b2bec3;
    font-weight: bold;
}

.avatarPerfil {
    cursor: pointer;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.avatarPerfil i {
    font-size: 30px;      
    color: #b2bec3;        
    transition: color 0.2s ease;
}



#encabezado #btnBarras {
    position: fixed; 
    top: 20px;
    left: 20px;
    z-index: 100; 
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

#encabezado #btnBarras span{
    display: block;
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}

#contenidoPrincipal{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    
    padding: 100px 40px 50px 40px; 
    
    margin-left: 0;
    transition: margin-left 0.2s ease, width 0.2s ease;
}

#pantallaBienvenida.mostrar #contenidoPrincipal {
    margin-left: 250px;         
    width: calc(100% - 250px);  
    padding-left: 40px;        
}

.textoRedireccion {
    align-self: center;
    color: #ecf0f1;   
    margin-top: 20px;
}

.textoRedireccion a {
    color: #2ecc71;   
    margin-top: 0;   
    font-weight: bold;
    text-decoration: underline;
}

.textoRedireccion a:hover {
    color: #27ae60;    
}